<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>toDoList</title>
    <link rel="stylesheet" href="bootstrap.css">
    <script src="node_modules/vue/dist/vue.js"></script>
    <style>
        .delete{
            text-decoration: line-through;
            color:#ccc;
        }
    </style>
</head>
<body>
<div id="app">
   <div class="container">
       <div class="navbar navbar-inverse">
           <div class="container container-fluid">
               <div class="navbar-header">
                   <div class="navbar-brand">ToDoList</div>
               </div>
           </div>
       </div>
   </div>
    <div class="container">
        <h3 class="text-primary">你还有{{count}}件待处理的事情</h3>
        <input type="text" class="form-control" placeholder="请输入待办事情" @keyup.13="addTodo" v-model="temTodo">
        <ul class="nav nav-pills">
            <li :class="{active:state=='all'}"><a href="#all">全部</a></li>
            <li :class="{active:state=='finished'}"><a href="#finished">已完成</a></li>
            <li :class="{active:state=='unfinished'}"><a href="#unfinished">未完成</a></li>
        </ul>
        <ul class="list-group" >
            <li class="list-group-item"  v-for="(item,index) of cloneTodos"  @dblclick="changTitle(item)">
                <div v-show="curTodo!=item">
                    <input type="checkbox" v-model="item.isChecked"/>
                    <span class="text-primary" :class="{delete:item.isChecked}">{{index+1}}.{{item.title}}</span>
                    <button role="button" class="pull-right btn-danger" @click="remove(index)">&times;</button>
                </div>
                <input type="text" v-model="item.title" v-show="curTodo==item" v-auto-Focus="curTodo==item" @keyup.13="reset" @blur="reset" @focus="originData(item)" @keyup.27="toOrigin(item)">
            </li>
        </ul>
    </div>
</div>
</body>
<script src="index.js"></script>
</html>